:root {
  /* form on light theme */
  --background: #ffffff;
  --foreground: #000000;
  --card-background: #f5f5f5;
  --header: #eaeaea;
  --footer: #e0e0e0;
  --accent: #3b82f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* form on dark theme */
    --background: #000000;
    --foreground: #ffffff;
    --card-background: #1a1a1a;
    --header: #111111;
    --footer: #151515;
    --accent: #60a5fa;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
